.title {
    margin-bottom: 40px;
}

.buttonCadastrarUsers > button {
    margin-top: 4px;
}

.buttonActionsCadastroUsers {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.buttonActionsCadastroUsers > button {
    width: 7rem;
}

@media (max-width: 768px) {

    .title {
        margin-left: 35px;
    }

    .container-form, .search, .table{
        width: 100%;
        margin-left: 30px;
    }

    .modalCadastroUsuario {
        margin-left: 55px;
        margin-top: 30%;
        max-width: 65%;
    }

}

    