.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #3e3e3e;
  color: #fff;
  transition: width 0.3s ease;
  overflow-x: hidden;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.sidebar.expanded {
  width: 250px;
}

.sidebar.collapsed {
  width: 60px;
}

.hamburger-btn {
  position: absolute;
  top: 5px;
  z-index: 1100;
  background-color: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: left 0.3s ease;
  font-size: 1.5rem;
}

.hamburger-expanded {
  left: 250px;
}

.hamburger-collapsed {
  left: 60px;
}

.menu-items {
  margin-top: 4rem;
  
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  transition: background-color 0.2s ease;
  width: 100%;
  margin-left: 0.5rem;
}

.menu-item:hover {
  color: #3e3e3e;
}

.menu-icon {
  font-size: 1.5rem;
}

.menu-text {
  margin-left: 10px;
  font-size: 1rem;
}

.menu-items .nav-link:hover {
  background-color: #ffffff;
  color: #3e3e3e;
}

.menu-items .nav-link {
  padding: 0;
}

.layout-content {
  margin-left: 60px; 
  transition: margin-left 0.3s ease;
}

.sidebar.expanded ~ .layout-content {
  margin-left: 250px; 
}

@media (max-width: 768px) {
  .hamburger-btn {
    left: 9px; 
    font-size: 1.5rem;
  }


  .sidebar.expanded {
    width: 50%;
  }

  .sidebar.collapsed {
    width: 60px;
  }

  .layout-content {
    margin-left: 0;
  }

  .sidebar.expanded ~ .layout-content {
    margin-left: 0;
  }
}
